{% extends "base.html" %}
{% from "macro.html" import function_slider with context %}
{% block title %}
    意见反馈
{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .span-bottom-line{
            border-bottom: 4px solid #00bc8c;
        }
    </style>
{% endblock %}
{% block content %}
    <main>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-2 mb-2">
                    {{ function_slider('意见反馈') }}
                </div>
                <div class="col-md-10">
                    <h4 class="text-muted mb-3"><span class="span-bottom-line"><b>意见反馈</b></span></h4>
                    <p class="card-text">当前版本功能十分简单，大家有什么建设性的意见可以反馈给我!此网站可能会波及骗子的利益,所以这里不留我的联系方式了!</p>
                    <form action="/callback/" method="post">
                        <div class="form-group">
                            <label for="title">标题</label>
                            <input id="title" name="title" class="form-control" placeholder="请输入意见反馈标题" required>
                        </div>
                        <div class="form-group">
                            <label for="content">反馈内容</label>
                            <textarea class="form-control" name="content" id="content" placeholder="请输入反馈内容!"></textarea>
                        </div>
                        <input type="submit" class="btn btn-light">
                    </form>
                </div>
            </div>
        </div>
    </main>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
    <script>
        CKEDITOR.on( 'instanceReady', function( evt ) {
            evt.editor.dataProcessor.htmlFilter.addRules( {
                elements: {
                    img: function(el) {
                        el.addClass('img-fluid d-block mx-auto');
                    },
                    table: function (el){
                        el.addClass('table table-responsive');
                    },
                    thead: function (el){
                        el.addClass('thead-light');
                    },
                    blockquote: function (el){
                        el.addClass('m-blockquote');
                    }
                }
            });
        });
    </script>
{% endblock %}